.outline .tree-item-children {
    margin-left: 20px;
    border-left: 1px solid var(--background-modifier-border);
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

.nav-folder-children .nav-folder-children {
    margin-left: 20px;
    padding-left: 0;
    border-left: 1px solid var(--background-modifier-border);
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}